---
import HorizontalLines from "../components/toplogyLines/horizontalLines.astro";
import Scene from "../components/animationScripts/scene.jsx";
import Menu from "../components/menu.astro";
import About from "../components/info/about.astro";
import Projects from "../components/info/projects.astro";
import Artwork from "../components/info/artwork.astro";
import Contact from "../components/info/contact.astro";
import BaseLayout from "../layouts/baseLayout.astro";
---

<BaseLayout title="Zaffer">
  <HorizontalLines />
  <Menu />

  <main>
    <section id="about" class="content-section slide-bottom">
      <About />
    </section>
    <section id="projects" class="content-section slide-bottom">
      <Projects />
    </section>
    <section id="artwork" class="content-section slide-bottom">
      <Artwork />
    </section>
    <section id="contact" class="content-section slide-bottom">
      <Contact />
    </section>

    <div>
      <Scene client:load />
    </div>
  </main>
</BaseLayout>

<style>
  html,
  body {
    overflow: hidden;
  }
  .content-section {
    transform: translateX(-100%);
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.6s ease;
    z-index: 40;
    background: rgb(250, 250, 250);
    overflow: hidden; /* default: no scroll */
  }

  .content-section.show {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
  }

  /* specifically for Projects section */
  #projects.show {
    overflow-y: auto;
  }

  .slide-bottom {
    transform: translateY(100%);
    opacity: 0;
    transition:
      transform 1s ease,
      opacity 1s ease;
  }

  .slide-bottom.show {
    transform: translateY(0);
    opacity: 1;
  }

  .slide-bottom.hide {
    transform: translateY(-100%); /* exit upwards */
    transition: transform 1s ease;
  }
</style>

<script type="module" src="/src/scripts/lenis.js"></script>
<script type="module">
  const sections = document.querySelectorAll(".content-section");
  const buttons = document.querySelectorAll(".menu-link");
  const overlay = document.getElementById("overlay");

  function hideAllSections() {
    sections.forEach((sec) => {
      if (sec.classList.contains("show")) {
        sec.classList.remove("show");
        sec.classList.add("hide"); // trigger exit animation
        // after animation ends, reset
        sec.addEventListener(
          "transitionend",
          () => sec.classList.remove("hide"),
          { once: true }
        );
      }
    });
  }

  buttons.forEach((btn) => {
    btn.addEventListener("click", () => {
      const target = btn.dataset.target;

      hideAllSections();

      const active = document.getElementById(target);
      if (active) {
        requestAnimationFrame(() => active.classList.add("show"));
      }

      overlay.classList.remove("show");
    });
  });
</script>
