/* Container stacking heading and buttons */
.options {
  display: flex;
  flex-direction: column;  /* stack buttons vertically */
  align-items: center;     /* center horizontally */
  gap: 20px;               /* space between buttons */
}

.button-link {
  all: unset;
  cursor: pointer;

  color: rgb(0, 0, 0);
  font-size: 8rem;
  font-family: Impact, sans-serif;
  transition: color 0.3s;
}

.button-link:hover {
  color: #b6433c;
}

