---
const { title = "My Portfolio" } = Astro.props;
import PageTransition from "../components/effects/pageTransition.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
  </head>
  <body class="bg-gray-950 text-white">
    <PageTransition>
      <slot />
    </PageTransition>
  </body>
</html>
