---
const { title = "My Portfolio" } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <script type="module" src="src/scripts/lenis.js"></script>
    <script type="module" src="src/scripts/gsap-intro.js"></script>
  </head>
  <body class="bg-gray-950 text-white">
    <slot />
  </body>
</html>
