---
import "../../styles/components/about.css";
---

<div class="about-container">
  <div class="heading">ABOUT</div>

  <div class="content-1">
    Hi! I'm Zaffer Ahmed, a software engineer specializing in Java full-stack
    development. My expertise includes <b
      >Angular, React, TypeScript, JavaScript and PostgreSQL</b
    >, with a strong focus in <b>Java</b> by building scalable applications and robust
    APIs.
  </div>

  <div class="content-2">
    I enjoy working on coding projects because they allow me to be creative and
    bring new ideas to the table. With this mindset, I have successfully
    contributed to multiple projects, ensuring clean architecture, optimized
    performance, and on-time delivery.
  </div>

  <div class="content-3">
    I like keeping up with the latest tech and coding trends, as they inspire me
    to grow and take on new challenges—often in my own personal projects.
  </div>

  <!-- <div class="stats">
    <button
      class="btn-12"
      onclick="window.open('https://github.com/Zaffer-AHM', '_blank')"
    >
      <span>Github</span>
    </button>
    <button
      class="btn-12"
      onclick="window.open('https://codeforces.com/profile/scazable', '_blank')"
    >
      <span>Codeforces</span>
    </button>
    <button
      class="btn-12"
      onclick="window.open('https://leetcode.com/u/scazable', '_blank')"
    >
      <span>Leetcode</span>
    </button>
  </div> -->

  <div class="content-4">
    Note 1: <b>scazable</b> is my online handler, I use that name for almost everything
    online. <br />
    <!-- Note 2: I recently just started competitive coding, so the stats might be a bit low. -->
  </div>
</div>
