<style>
  .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;     /* center horizontally */
    justify-content: center; /* center vertically */
    text-align: center;
    padding: 2rem;
    height: 100vh;           /* full screen height */
    box-sizing: border-box;
  }

  .stats {
    margin-left: 1.2rem;
  }
</style>


<div class="contact-container">
  <div class="heading">CONTACT</div>

  <div class="stats">
    <button
      class="btn-12"
      onclick="window.open('https://www.linkedin.com/in/zaffer-ahm', '_blank')"
    >
      <span>LinkedIN</span>
    </button>
    <button
      class="btn-12"
      onclick="window.open('https://github.com/Zaffer-AHM', '_blank')"
    >
      <span>Github</span>
    </button>
  </div>
</div>
